body{
    background: #646473;
}

header{
    display: block;
    background: rgba(255,255,255,0.3);
}

header #menu, header #logo, header #extras{
    display: inline-block;
}

section.movies{
    height: 630px;
}
.movies .estrenos{
    height: 130px;
}
.portadas{
    background: #000;
}
article.pelicula{
    display: inline-block;
    margin: 0.2em;
    width: 186px;
    position: relative;
}
.pelicula figure img{
    height: 272px;
}
.pelicula .titulos{
    background: rgba(0,0,0,0.7);
    bottom: 0;
    color:#fff;
    display: block;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.carousel-control.right,
.carousel-control.left{
    margin-left: 1em;
    background: rgba(0,0,0,0.5);
}

.carousel-inner .active.left,
.carousel-inner .next
.carousel-inner .prev{
    left: -15%;
}
